html {
  scroll-behavior: smooth;
}

#myCarousel {
  height: 100%;
  width: 100%;
}

.carousel-indicators {
  margin-bottom: 8px;
}

.carousel-indicators>li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-inner {
  height: 100%;
  background-color: #213B74;
}

.carousel-item {
  text-align: center;
}

.parent {
  min-height: 200px;
  padding: 3rem 0;
}

.carousel-item img {
  display: block;
  margin: auto;
}
.App-link {
  color: #61dafb;
}
.checked{
  color: orange;
}
.cart {
  background-color: lightgrey;
  height: 100vh;
  width: 100%;
  padding: 10px;
}

.cart_items_header {
  margin-bottom: 20px;
}

.cart_items_header, .class_items {
  display: flex;
  justify-content: space-around;
}

.class_items {
  padding: 10px;
  background-color: #fff;
  margin: 10px 0;
}

.number_input {
  width: 50px;
  text-align: center;
}
.ingredientsList ul{
  padding: 0 10px;
}
.ingredientsList li,
.orderDataList li{
  list-style-type: none;
  padding: 0 15px;
  position: relative;
}
.ingredientsList li::before,
.orderDataList li::before{
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background: #ee3535;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.orderDataList li::before{
  background: #000;
}
.loaderWrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%,-50%);
}
.cartItem button{
  outline: none;
  border: none;
  font-size: 1rem;
  background: #fff;
  height: 30px;
  width: 30px;
}
.cartProductImage{
  width: 100px;
  margin: 0 10px;
}
.cartValue{
  position: absolute;
  top: -25px;
  left: 50%;
  color: #000;
  font-size: 1rem;
  background: #fff;
  border-radius: 20px;
  height: 10px;
  width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.homeCompo {
position: relative;
}
